node_modules/
.env
.env.*
dist/
*.log
*.docx
.wwebjs_auth/
.wwebjs_cache/
whatsapp-service/.wwebjs_auth/
whatsapp-service/.wwebjs_cache/
whatsapp-service/auth_info_baileys/

!.env.example

*.zip
# architecture.md